@font-face {
  font-family: "ObjectSans-Slanted";
  src: url("ObjectSans-Slanted.eot");
  src: local("Object Sans Slanted"), local("ObjectSans-Slanted"), url("ObjectSans-Slanted.eot?#iefix") format("embedded-opentype"), url("ObjectSans-Slanted.woff2") format("woff2"), url("ObjectSans-Slanted.woff") format("woff"), url("ObjectSans-Slanted.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ObjectSans-Regular";
  src: url("ObjectSans-Regular.eot");
  src: local("Object Sans Regular"), local("ObjectSans-Regular"), url("ObjectSans-Regular.eot?#iefix") format("embedded-opentype"), url("ObjectSans-Regular.woff2") format("woff2"), url("ObjectSans-Regular.woff") format("woff"), url("ObjectSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ObjectSans-Heavy";
  src: url("ObjectSans-Heavy.eot");
  src: local("Object Sans Heavy"), local("ObjectSans-Heavy"), url("ObjectSans-Heavy.eot?#iefix") format("embedded-opentype"), url("ObjectSans-Heavy.woff2") format("woff2"), url("ObjectSans-Heavy.woff") format("woff"), url("ObjectSans-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "ObjectSansHeavySlanted";
  src: url("ObjectSans-HeavySlanted.eot");
  src: local("Object Sans Heavy Slanted"), local("ObjectSans-HeavySlanted"), url("ObjectSans-HeavySlanted.eot?#iefix") format("embedded-opentype"), url("ObjectSans-HeavySlanted.woff2") format("woff2"), url("ObjectSans-HeavySlanted.woff") format("woff"), url("ObjectSans-HeavySlanted.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "ObjectSans-Regular", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input[type=checkbox] {
  display: none;
}

section {
  position: relative;
  overflow: visible;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon svg {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container-special {
  max-width: 1440px;
  padding: 0 40px;
}
.container-big {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

.page-title {
  font-size: 80px;
  line-height: 82px;
  letter-spacing: 0.06em;
  text-align: right;
  text-transform: lowercase;
}
@media screen and (max-width: 991px) {
  .page-title {
    font-size: 57px;
    line-height: 57px;
  }
}
@media screen and (max-width: 576px) {
  .page-title {
    font-size: 36px;
    line-height: 37px;
  }
}
.page-title.about-title {
  padding: 19px 0 11px;
}
.page-title.events-title {
  padding: 38px 0 28px;
}

.title {
  font-size: 128px;
  line-height: 131px;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  text-transform: lowercase;
}
@media screen and (max-width: 991px) {
  .title {
    font-size: 108px;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .title {
    padding: 10px 22px;
    font-size: 40px;
    line-height: 41px;
  }
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  padding: 40px 34px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
}
.footer__navbar:nth-child(2) {
  margin-left: 60px;
}
.footer__navbar-item {
  margin-bottom: 20px;
}
.footer__middle {
  margin-left: -150px;
  text-align: center;
}
.footer__icons {
  display: flex;
  margin-bottom: 23px;
}
.footer__icon {
  margin: 0 15px;
}
.footer__icon-img {
  width: 24px;
  height: 27px;
  background-color: transparent;
}
.footer__logo img {
  width: 175px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}
@media screen and (max-width: 991px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer__right {
    margin: 40px 0;
  }
  .footer__navbar:nth-child(2) {
    margin-left: 120px;
  }
  .footer__middle {
    margin-left: 0;
    order: 1;
  }
}

.main-header {
  padding: 20px 0;
}
.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__icons {
  display: flex;
  align-items: center;
}
.main-header__icon {
  margin: 0 10px;
}
.main-header__icon-link img {
  background-color: transparent;
  width: 27px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header__icon .instagram img {
  width: 37px;
  height: 45px;
}
@media screen and (max-width: 991px) {
  .main-header {
    padding: 10px 0;
  }
  .main-header__icons {
    margin-left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .main-header__inner {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  margin: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all linear 0.3s;
  transform: translateX(-100%);
  background-color: #fff;
  font-size: 30px;
}
.sidebar.active {
  transform: translateX(0%);
}
@media screen and (max-width: 991px) {
  .sidebar {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.btn a {
  font-size: 40px;
  line-height: 41px;
  max-width: 712px;
  width: 100%;
  height: 88px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .btn a {
    font-size: 16px;
    line-height: 16px;
    max-width: 278px;
    height: 51px;
  }
}

.burger {
  width: 65px;
  height: 50px;
  background-color: #fff;
  box-shadow: 4px 4px 15px rgba(140, 140, 140, 0.25);
  border-radius: 0px 0px 10px 0px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger__menu {
  width: 18px;
  height: 12px;
  position: relative;
}
.burger__menu span {
  height: 2px;
  background-color: #2e3a59;
  transition: all linear 0.3s;
}
.burger__menu span:first-child {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.burger__menu span:nth-child(2) {
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.burger__menu span:nth-child(3) {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.burger.active .burger__menu span:first-child {
  transform: rotate(-45deg);
  right: 1px;
  top: 2px;
}
.burger.active .burger__menu span:nth-child(2) {
  transform: rotate(45deg);
}
.burger.active .burger__menu span:nth-child(3) {
  transform: rotate(-45deg);
  left: 1px;
  bottom: 1px;
}

.slider {
  width: 100%;
}
.slider-item {
  height: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slick-disabled {
  display: none !important;
}

.slick-prev {
  z-index: 998;
  background: url("/images/arrow.png") 0 0/100% no-repeat;
  transform: translateY(-50%) rotate(180deg);
}

.slick-next {
  background: url("/images/arrow.png") 0 0/100% no-repeat;
}

@media screen and (max-width: 576px) {
  .slick-arrow {
    display: none !important;
  }
}
#index .preview {
  height: calc(100vh - 71px);
}
#index .preview__info {
  height: calc(100vh - 304px);
  display: flex;
  justify-content: space-between;
}
#index .preview__title {
  font-size: 140px;
  line-height: 143px;
  padding: 49px 0;
  text-align: right;
  padding-right: 10px;
}
#index .preview__sidebar {
  padding: 50px 40px;
  max-width: 187px;
  width: 30%;
  min-height: 241px;
  max-height: 443px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 57px;
  margin-left: 36px;
  background-color: #fff;
}
#index .preview__sidebar-item {
  margin-bottom: 3vh;
}
#index .preview__image {
  width: 100%;
  max-height: 100%;
}
#index .preview .burger {
  display: none;
}
@media screen and (max-width: 1300px) {
  #index .preview__title {
    font-size: 120px;
  }
}
@media screen and (max-width: 1115px) {
  #index .preview__title {
    font-size: 90px;
  }
}
@media screen and (max-width: 991px) {
  #index .preview {
    height: auto;
  }
  #index .preview__title {
    font-size: 60px;
  }
  #index .preview__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all linear 0.3s;
    transform: translateX(-100%);
  }
  #index .preview__sidebar-item {
    margin-bottom: 0;
  }
  #index .preview__sidebar.active {
    transform: translateX(0%);
  }
  #index .preview .burger {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  #index .preview__sidebar {
    width: 100%;
  }
  #index .preview__title {
    font-size: 36px;
    line-height: 37px;
    padding: 24px 7px;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
}
#index .about {
  border-bottom: 11px solid #000;
}
#index .about__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  position: relative;
}
#index .about__img {
  max-width: 65vw;
  width: 100%;
  height: 538px;
  margin-right: 24px;
}
#index .about__info {
  max-width: 551px;
  width: 100%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#index .about .mobile-img {
  display: none;
}
#index .about__title {
  position: relative;
}
#index .about__title span {
  font-size: 96px;
  line-height: 98px;
  text-transform: uppercase;
}
#index .about__title span:nth-child(2) {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 46px;
}
#index .about__title span:nth-child(3) {
  position: absolute;
  left: 0;
  top: 92px;
}
#index .about__text {
  font-size: 32px;
  line-height: 33px;
}
#index .about__nav-btn {
  display: flex;
  justify-content: flex-start;
}
#index .about__nav-btn a {
  max-width: 446px;
  width: 100%;
  height: 64px;
  font-size: 40px;
  line-height: 41px;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .about__nav-text {
  font-size: 40px;
  line-height: 41px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1378px) {
  #index .about__img {
    max-width: 50vw;
  }
}
@media screen and (max-width: 1200px) {
  #index .about__title span {
    font-size: 56px;
    line-height: 98px;
  }
  #index .about__title span:nth-child(2) {
    top: 32px;
  }
  #index .about__title span:nth-child(3) {
    top: 62px;
  }
}
@media screen and (max-width: 991px) {
  #index .about__info {
    padding: 30px;
    max-width: 100%;
  }
  #index .about .desktop-img {
    display: none;
  }
  #index .about .mobile-img {
    display: block;
    max-width: 100%;
  }
  #index .about__img {
    margin: 40px 0;
  }
  #index .about__nav {
    text-align: center;
  }
  #index .about__nav-btn {
    display: flex;
    justify-content: center;
  }
  #index .about__text {
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  #index .about__inner {
    padding-bottom: 23px;
  }
  #index .about__info {
    padding: 18px;
  }
  #index .about__img {
    margin: 20px 0;
  }
  #index .about .mobile-img {
    height: 165px;
  }
  #index .about__title {
    position: absolute;
    right: -45px;
    top: 89px;
    transform: rotate(90deg);
  }
  #index .about__title span {
    font-size: 32px;
    line-height: 33px;
  }
  #index .about__title span:nth-child(2) {
    top: 17px;
  }
  #index .about__title span:nth-child(3) {
    top: 33px;
  }
  #index .about__text {
    padding-right: 100px;
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0;
    min-height: 130px;
    display: flex;
    align-items: center;
  }
  #index .about__nav-btn a {
    max-width: 100%;
    font-size: 13px;
    line-height: 13px;
    height: 29px;
  }
  #index .about__nav-text {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 19px;
  }
}
#index .events {
  padding: 60px 0 79px;
}
#index .events__title {
  font-size: 128px;
  line-height: 131px;
  margin-bottom: 51px;
  margin-left: 30px;
  position: relative;
}
#index .events__title::before {
  content: "";
  height: 4px;
  width: calc(100% + 30px);
  position: absolute;
  left: -30px;
  top: 57%;
  transform: translateY(-50%);
  background-color: #000;
}
#index .events__text {
  font-size: 36px;
  line-height: 37px;
  margin-bottom: 50px;
}
#index .events__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 53px;
  margin-bottom: 114px;
  justify-items: center;
}
#index .events__item {
  max-width: 204px;
  width: 100%;
  height: 170px;
  position: relative;
}
#index .events__item-img {
  max-width: 204px;
  height: 132px;
  background-color: grey;
}
#index .events__item-info {
  background-color: #000;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 8px;
}
#index .events__btn {
  padding: 0;
}
@media screen and (max-width: 991px) {
  #index .events {
    padding: 30px 0 49px;
  }
  #index .events__title {
    font-size: 108px;
    margin-bottom: 21px;
    margin-left: 0;
    text-align: center;
  }
  #index .events__items {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 768px) {
  #index .events__inner {
    display: flex;
    justify-content: space-between;
    height: 254px;
  }
  #index .events__text {
    display: none;
  }
  #index .events__items {
    margin-bottom: 0;
    display: block;
  }
  #index .events__item:not(:first-child) {
    display: none;
  }
  #index .events__item {
    height: 100%;
    display: flex;
    max-width: 357px;
  }
  #index .events__item-img {
    height: 100%;
    max-width: 100%;
    order: 1;
  }
  #index .events__item-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    line-height: 15px;
    padding: 14px 7px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #index .events__btn {
    order: -1;
    margin-right: 12px;
  }
  #index .events__btn a {
    height: 100%;
    width: 208px;
    font-size: 26px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  #index .events__title::before {
    display: none;
  }
  #index .events__inner {
    height: 154px;
  }
  #index .events__item {
    max-width: 225px;
  }
  #index .events__item-info {
    width: 129px;
  }
  #index .events__btn {
    order: -1;
  }
  #index .events__btn a {
    height: 100%;
    width: 108px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 10px 10px 14px;
  }
  #index .events__title {
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 7px;
  }
  #index .events__text {
    font-size: 16px;
    line-height: 16px;
  }
}
#index .news .mobile-title,
#index .news .mobile-img {
  display: none;
}
#index .news__inner {
  padding: 51px 48px;
}
#index .news__article {
  margin-bottom: 117px;
  display: flex;
  justify-content: space-between;
}
#index .news__article-img {
  max-width: 651px;
  height: 375px;
}
#index .news__article-info {
  max-width: 570px;
  margin-left: 63px;
}
#index .news__article-title {
  font-size: 80px;
  line-height: 82px;
  margin-bottom: 37px;
}
#index .news__article-text {
  font-size: 32px;
  line-height: 33px;
}
@media screen and (max-width: 1200px) {
  #index .news__article-info {
    margin-left: 33px;
  }
}
@media screen and (max-width: 991px) {
  #index .news .desktop-title,
#index .news .desktop-img {
    display: none;
  }
  #index .news .mobile-title,
#index .news .mobile-img {
    display: block;
  }
  #index .news .mobile-title {
    margin: 20px 0 9px;
    padding: 0 20px;
  }
  #index .news__inner {
    padding: 51px 0;
  }
  #index .news__article {
    flex-direction: column;
    margin-bottom: 67px;
  }
  #index .news__article-img {
    max-width: 100%;
  }
  #index .news__article-info {
    max-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  #index .news__inner {
    padding: 31px 0;
  }
  #index .news__article {
    margin-bottom: 34px;
  }
  #index .news__article-title {
    font-size: 40px;
    line-height: 41px;
  }
  #index .news__article-text {
    font-size: 16px;
    line-height: 16px;
  }
}
#index .projects__text {
  padding: 57px 168px 45px 0;
  position: relative;
  min-height: 182px;
  font-size: 32px;
  line-height: 33px;
}
#index .projects__text span {
  position: absolute;
  right: -46px;
  top: 40%;
  transform: rotate(90deg);
}
#index .projects__text span .text-bold {
  font-family: "ObjectSans-Heavy", sans-serif;
}
#index .projects__image {
  height: 513px;
  margin-bottom: 59px;
}
#index .projects__btn {
  margin-bottom: 45px;
}
@media screen and (max-width: 576px) {
  #index .projects__text {
    font-size: 16px;
    line-height: 16px;
    padding: 47px 54px 45px 0;
  }
  #index .projects__text-space {
    display: none;
  }
  #index .projects__text span {
    right: -66px;
    top: 46%;
  }
  #index .projects__image {
    height: 325px;
    margin-bottom: 12px;
    padding: 0 20px;
    background-color: transparent;
  }
  #index .projects__btn {
    margin-bottom: 32px;
  }
  #index .projects__btn a {
    max-width: 330px;
    height: 35px;
  }
}
#index .gallery {
  margin-bottom: 104px;
  border-bottom: 11px solid #000;
}
#index .gallery__slider {
  margin: 61px auto 81px;
  height: 513px;
}
#index .gallery .slick-list, #index .gallery .slick-slide {
  height: 513px;
}
#index .gallery .slick-prev {
  left: 37px;
}
#index .gallery .slick-next {
  right: 37px;
}
#index .gallery__btn {
  margin-bottom: 56px;
}
@media screen and (max-width: 576px) {
  #index .gallery {
    border-bottom: none;
    margin-bottom: 0;
  }
  #index .gallery__slider {
    margin: 32px 0 32px;
    height: 325px;
    padding: 0 20px;
  }
  #index .gallery .slick-list, #index .gallery .slick-slide {
    height: 325px;
  }
  #index .gallery__btn {
    margin-bottom: 39px;
  }
}

#about {
  display: flex;
  flex-direction: column;
}
#about .container {
  max-width: 1390px;
}
#about .btn a {
  font-size: 20px;
  line-height: 20px;
  height: 64px;
}
#about .gallery {
  padding: 0 20px;
  width: 100%;
  height: 457px;
  border-bottom: 21px solid #000;
  background-image: url("/images/default.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#about .gallery__btn {
  margin-bottom: 24px;
  max-width: 446px;
  width: 100%;
  padding: 0;
}
#about .gallery__btn button {
  height: 64px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 20px 10px 23px;
}
#about .info {
  margin: 41px 0 62px;
}
#about .info__inner {
  display: flex;
  justify-content: space-between;
}
#about .info .team {
  max-width: 841px;
  width: 100%;
}
#about .info .team__info {
  display: flex;
  margin-bottom: 16px;
}
#about .info .team__img {
  max-width: 381px;
  width: 100%;
  height: 327px;
}
#about .info .team__main {
  max-width: 442px;
  width: 100%;
  margin-left: 18px;
}
#about .info .team__main-title {
  font-size: 30px;
  line-height: 31px;
  letter-spacing: 0.06em;
  margin-bottom: 14px;
}
#about .info .team__main-text {
  font-size: 16px;
  line-height: 16px;
}
#about .info .team__btn {
  padding: 0;
}
#about .info .team__btn a {
  max-width: 100%;
  height: 62px;
  text-align: center;
  letter-spacing: 0.06em;
}
#about .info .tabs {
  max-width: 472px;
  width: 100%;
  margin-left: 37px;
}
#about .info .tabs__items {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: 0.06em;
  margin-bottom: 36px;
}
#about .info .tabs__item {
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  position: relative;
}
#about .info .tabs__item::before {
  content: "";
  position: absolute;
  background-color: #000;
  transition: width 0.35s;
  transform-origin: left;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
}
#about .info .tabs__item-active:before {
  width: 100%;
}
#about .info .tabs__body {
  font-size: 16px;
  line-height: 160%;
}
#about .info .tabs__block {
  display: none;
}
#about .info .tabs__block-active {
  display: block;
}
@media screen and (max-width: 1200px) {
  #about .info__inner {
    flex-direction: column;
  }
  #about .info .team, #about .info .team__main {
    max-width: 100%;
  }
  #about .info .tabs {
    max-width: 100%;
    margin: 30px 0 0;
  }
}
@media screen and (max-width: 675px) {
  #about .info .team__img {
    max-width: 281px;
    height: 227px;
  }
}
@media screen and (max-width: 576px) {
  #about .info .gallery {
    height: 179px;
    border-bottom: none;
    margin-bottom: 37px;
  }
  #about .info {
    order: -1;
    margin-bottom: 35px;
  }
  #about .info .tabs {
    order: -1;
    border-bottom: 11px solid #000;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  #about .info .tabs__items {
    font-size: 16px;
    line-height: 16px;
  }
  #about .info .tabs__body {
    font-size: 14px;
    line-height: 14px;
  }
  #about .info .team__img {
    max-width: 172px;
    height: 195px;
  }
  #about .info .team__main {
    margin-left: 11px;
  }
  #about .info .team__main-title {
    font-size: 16px;
    line-height: 16px;
  }
  #about .info .team__main-text {
    font-size: 14px;
    line-height: 14px;
  }
  #about .info .team__btn a {
    max-width: 337px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  #about .btn a {
    font-size: 14px;
    line-height: 14px;
  }
  #about .gallery {
    height: 179px;
    border-bottom: none;
    margin-bottom: 37px;
  }
  #about .gallery__btn {
    margin-bottom: 16px;
    max-width: 320px;
    padding: 0;
  }
  #about .gallery__btn a {
    height: 34px;
    padding: 9px;
    max-width: 320px;
  }
}

#events .events__inner {
  display: flex;
  margin-bottom: 114px;
}
#events .filter {
  max-width: 300px;
  width: 100%;
  padding-right: 20px;
}
#events .filter__title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}
#events .filter__subtitle {
  font-size: 16px;
  line-height: 19px;
}
#events .filter .choices {
  font-size: 19px;
  line-height: 23px;
  margin-left: 25px;
}
#events .filter details {
  margin-top: 25px;
  margin-left: 10px;
}
#events .filter .projects-start {
  margin-top: 20px;
  white-space: nowrap;
}
#events .filter label {
  white-space: break-spaces;
}
#events .evn .filter .close {
  display: none;
}
#events .evn .filter h3 {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}
#events .evn .filter .time {
  margin-top: 20px;
}
#events .evn .filter h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
#events .evn .filter ul {
  margin-left: 25px;
  list-style: none;
}
#events .filter ul li {
  margin-top: 20px;
}
#events input[type=checkbox]:checked + .checkboxes::before {
  background: url("/images/checkbox_checked.png") 0 0 no-repeat;
}
#events .checkboxes::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 6px;
  right: 10px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url("/images/checkbox.png") 0 0 no-repeat;
}
#events .evn .filter .projects_start {
  margin-top: 20px;
  white-space: nowrap;
}
#events .evn .filter h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
#events .evn .filter .projects_start details {
  margin-top: 25px;
  margin-left: 10px;
}
#events details summary {
  display: flex;
  justify-content: space-around;
  width: 55%;
}
#events details summary:after {
  content: "";
  background: url("/images/angle-right-solid.svg") 0 0 no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 auto;
}
#events .events__slider-wrapper {
  position: relative;
  width: 100%;
}
#events .events__subtext {
  display: none;
  position: absolute;
  right: -6%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-size: 36px;
  line-height: 37px;
}
#events .events__slider,
#events .slick-list,
#events .slick-slide {
  height: 266px;
}
#events .slick-prev {
  left: 8px;
}
#events .slick-next {
  right: 8px;
}
#events .events__main {
  margin-left: auto;
  max-width: 959px;
  width: 100%;
}
#events .events__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 51px;
  justify-items: center;
}
#events .events__item {
  max-width: 204px;
  width: 100%;
  height: 170px;
  position: relative;
}
#events .events__item-img {
  max-width: 204px;
  height: 132px;
  background-color: grey;
}
#events .events__item-info {
  background-color: #000;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 8px;
}
#events .events__text {
  margin: 24px 0;
  text-align: right;
}
@media screen and (max-width: 1350px) {
  #events .events__main {
    max-width: 759px;
  }
  #events .events__items {
    gap: 30px;
  }
}
@media screen and (max-width: 991px) {
  #events .events__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  #events {
    padding: 0;
    padding-top: 74px;
  }
  #events .events__text {
    margin: 42px 0 62px;
    text-align: left;
    padding: 0 16px;
  }
  #events .events__slider,
#events .slick-list,
#events .slick-slide {
    max-width: 90%;
    height: 138px;
  }
  #events .events__subtext {
    display: block;
  }
  #events .events__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    margin-bottom: 0;
  }
  #events .events__item {
    height: 138px;
    max-width: 100%;
  }
  #events .events__item-img {
    height: 100%;
    max-width: 100%;
  }
  #events .events__item-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 129px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    line-height: 15px;
    padding: 14px 7px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 576px) {
  .events-title {
    display: none;
  }
}
#event {
  padding-top: 44px;
}
#event .container {
  max-width: 1335px;
}
#event .event__main {
  display: flex;
}
#event .event__main-img {
  width: 50vw;
  padding-right: 42px;
  height: 373px;
}
#event .event__main-img img {
  max-width: 100%;
  height: 100%;
}
#event .event__main-info {
  width: 50vw;
}
#event .event__main-inner {
  max-width: 517px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#event .event__main-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 13px;
  text-transform: lowercase;
}
#event .event__main .date__block-2 {
  display: none;
  align-items: center;
}
#event .event__main .date__block-1 {
  display: flex;
  align-items: center;
}
#event .event__main .date__block-1 img {
  width: 33px;
  height: 36px;
  margin-right: 14px;
  display: none;
}
#event .event__main-date, #event .event__main-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
#event .event__main-text {
  max-width: 294px;
  width: 100%;
}
#event .event__main-special {
  position: absolute;
  top: -12px;
  right: -8vw;
}
#event .event__main-special__text {
  display: flex;
  align-items: center;
}
#event .event__main-time {
  font-size: 20px;
  line-height: 120%;
  font-family: "ObjectSans-Heavy", sans-serif;
  display: flex;
  align-items: center;
}
#event .event__main-time img {
  width: 25px;
  height: 25px;
}
#event .event__main-time p {
  padding-left: 14px;
}
#event .event__main-location {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  padding-left: 14px;
}
#event .event__main-location img {
  width: 24px;
  height: 29px;
}
#event .event__main-location p {
  padding-left: 14px;
  width: 80px;
}
#event .event__main-subtitle {
  padding: 0 24px;
  background-color: #000;
  color: #fff;
  font-size: 40px;
  line-height: 120%;
  text-transform: lowercase;
  margin-bottom: 30px;
}
#event .event__tabs {
  padding: 71px 0 97px;
  border-bottom: 6px solid #000;
}
#event .event__btn {
  padding: 0;
}
#event .event__btn a {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  max-width: 517px;
  height: 52px;
}
#event .tabs {
  display: flex;
  min-height: 157px;
  justify-content: space-between;
}
#event .tabs__items, #event .tabs__body {
  font-size: 16px;
  line-height: 160%;
}
#event .tabs__items {
  padding-right: 14px;
  border-right: 2px solid #000;
  width: 119px;
  display: flex;
  flex-direction: column;
}
#event .tabs__item {
  margin-bottom: 3px;
  width: 100%;
  position: relative;
}
#event .tabs__item::before {
  content: "";
  position: absolute;
  background-color: #000;
  transition: width 0.35s;
  transform-origin: left;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
}
#event .tabs__item-active:before {
  width: 100%;
}
#event .tabs__body {
  max-width: 878px;
  width: 100%;
  padding-left: 49px;
}
#event .tabs__block {
  display: none;
}
#event .tabs__block-active {
  display: block;
}
#event .tabs__btn {
  padding-right: 0;
}
#event .tabs__btn a {
  font-size: 20px;
  line-height: 160%;
  max-width: 163px;
  height: 120px;
  text-align: center;
}
#event .event__more {
  padding: 53px 0 60px;
}
#event .event__more-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#event .event__more-title {
  width: 167px;
  font-size: 40px;
  line-height: 120%;
  margin-right: 20px;
}
#event .event__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 52px;
  justify-items: center;
}
#event .event__item {
  max-width: 204px;
  width: 100%;
  height: 170px;
  position: relative;
}
#event .event__item-img {
  max-width: 204px;
  height: 132px;
  background-color: grey;
}
#event .event__item-info {
  background-color: #000;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 8px;
}
@media screen and (max-width: 1200px) {
  #event .tabs__body {
    padding-left: 29px;
  }
  #event .event__items {
    gap: 27px;
  }
  #event .event__more-title {
    width: 115px;
    font-size: 30px;
  }
  #event .event__main-subtitle {
    margin-bottom: 13px;
  }
  #event .event__main-special__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #event .event__main-special {
    right: -1vw;
  }
}
@media screen and (max-width: 991px) {
  #event {
    padding-top: 0;
  }
  #event .event__main {
    flex-direction: column;
  }
  #event .event__main .date__block-1 img {
    display: block;
  }
  #event .event__main .date__block-2 {
    display: flex;
  }
  #event .event__btn {
    display: none;
  }
  #event .event__main-info {
    width: 100%;
  }
  #event .event__main-inner {
    padding: 0 20px;
    max-width: 100%;
  }
  #event .event__main-img {
    width: 100%;
    padding-right: 0;
  }
  #event .event__main-title {
    border-bottom: 5px solid #000;
    padding: 17px 0 25px;
  }
  #event .event__main-text {
    margin-top: 30px;
    min-width: 100%;
  }
  #event .event__main-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  #event .event__main-special__text {
    justify-content: flex-start;
  }
  #event .event__main-location {
    margin-left: 0;
    padding-left: 0;
  }
  #event .event__main-location p {
    width: 100%;
  }
  #event .event__main-special {
    position: static;
  }
  #event .event__main-time--special {
    display: none;
  }
  #event .event__main-subtitle {
    display: none;
  }
  #event .event__tabs {
    padding: 30px 0;
  }
  #event .tabs {
    flex-direction: column;
  }
  #event .tabs__body {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 60px;
  }
  #event .tabs__items {
    border-right: none;
    padding-right: 0;
    margin-bottom: 24px;
    width: 100%;
  }
  #event .tabs__item {
    width: 100px;
  }
  #event .tabs__item:nth-child(2) {
    margin-left: 25%;
  }
  #event .tabs__item:nth-child(3) {
    margin-left: 50%;
  }
  #event .tabs__item:nth-child(4) {
    margin-left: auto;
    margin-right: 0;
  }
  #event .tabs__btn a {
    max-width: 326px;
    height: 60px;
  }
  #event .event__item:not(:nth-child(-n+2)) {
    display: none;
  }
  #event .event__items {
    display: flex;
    width: 50%;
    height: 377px;
    flex-direction: column;
    justify-content: space-between;
  }
  #event .event__item {
    max-width: 100%;
  }
  #event .event__item-img {
    max-width: 100%;
  }
  #event .event__more-title {
    width: 315px;
  }
}
@media screen and (max-width: 576px) {
  #event .event__main-title {
    font-size: 36px;
    line-height: 120%;
  }
  #event .event__main-text {
    line-height: 20px;
  }
  #event .tabs__btn a {
    font-size: 20px;
    line-height: 20px;
  }
  #event .event__items {
    max-width: 296px;
    width: 100%;
  }
  #event .event__item-info {
    display: none;
  }
  #event .event__more-title {
    order: 1;
    font-size: 24px;
    line-height: 25px;
    margin-right: 0;
    transform: rotate(90deg);
    position: absolute;
    right: -23%;
  }
  #event .event__item {
    position: relative;
  }
  #event .event__item::before {
    content: "";
    background-image: url("/images/dab_arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 23px;
  }
  #event .event__item-img {
    height: 100%;
  }
  #event .event__more .container {
    padding-left: 0;
  }
}
@media screen and (max-width: 412px) {
  #event .event__more-title {
    right: -32%;
  }
}
@media screen and (max-width: 375px) {
  #event .event__more-title {
    right: -38%;
  }
}

.event__subtitle {
  display: none;
  padding: 10px 67px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 255px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .event__subtitle {
    display: block;
  }
  .event-header {
    height: 81px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */