#about {
	display: flex;
	flex-direction: column;

	.container {
		max-width: 1390px;
	}
	
	.btn a{
		font-size: 20px;
    line-height: 20px;
		height: 64px;
	}

  .gallery {
    padding: 0 20px;
    width: 100%;
    height: 457px;
    border-bottom: 21px solid $black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include flex(center, flex-end);
    &__btn {
      margin-bottom: 24px;
      max-width: 446px;
      width: 100%;
      padding: 0;
      button {
        height: 64px;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 20px 10px 23px;
      }
    }
  }

  .info {
    margin: 41px 0 62px;

		&__inner {
			display: flex;
			justify-content: space-between;
		}

    .team {
      max-width: 841px;
      width: 100%;
      &__info {
        display: flex;
				margin-bottom: 16px;
      }
      &__img {
        max-width: 381px;
        width: 100%;
        height: 327px;
      }
      &__main {
        max-width: 442px;
        width: 100%;
        margin-left: 18px;
        &-title {
          font-size: 30px;
          line-height: 31px;
          letter-spacing: 0.06em;
					margin-bottom: 14px;
        }
        &-text {
          font-size: 16px;
          line-height: 16px;
        }
      }
      &__btn {
        padding: 0;
        a {
          max-width: 100%;
          height: 62px;
          text-align: center;
          letter-spacing: 0.06em;
        }
      }
    }

		.tabs {
			max-width: 472px;
			width: 100%;
			margin-left: 37px;
			&__items {
				display: flex;
				justify-content: space-between;
				font-size: 30px;
				line-height: 31px;
				letter-spacing: 0.06em;
				margin-bottom: 36px;
			}
			&__item {
				border-bottom: 1px solid transparent;
				padding-bottom: 5px;
				position: relative;
			}
			&__item::before {
				content: '';
				position: absolute;
				background-color: $black;
				transition: width 0.35s;
				transform-origin: left;
				left: 0;
				bottom: 0;
				width: 0;
				height: 3px;
			}
			&__item-active:before{
				width: 100%;
			}
			&__body	{
				font-size: 16px;
				line-height: 160%;
			}
			&__block {
				display: none;
			}
			&__block-active {
				display: block;
			}
		}

		@media screen and (max-width: 1200px) {
			&__inner {
				flex-direction: column;
			}
			.team, .team__main  {
				max-width: 100%;
			}
			.tabs {
				max-width: 100%;
				margin: 30px 0 0;
			}
		}

		@media screen and (max-width: 675px) {
			.team__img {
				max-width: 281px;
				height: 227px;
			}
		}
		@media screen and (max-width: 576px) {
			.gallery {
				height: 179px;
				border-bottom: none;
				margin-bottom: 37px;
			}
			& {
				order: -1;
				margin: 21px 0 62px;
				margin-bottom: 29px;
			}
			.tabs {
				order: -1;
				border-bottom: 11px solid $black;
				padding-bottom: 40px;
				margin-bottom: 24px;
				&__items {
					font-size: 16px;
					line-height: 16px;
				}
				&__body {
					font-size: 14px;
					line-height: 14px;
				}
			}
			.team {
				&__img {
					max-width: 172px;
					height: 195px;
				}
				&__main {
					margin-left: 11px;
					&-title {
						font-size: 16px;
						line-height: 16px;
					}
					&-text {
						font-size: 14px;
						line-height: 14px;
					}
				}
				&__btn a {
					max-width: 337px;
					height: auto;
				}
			}
			
		}
  }

	@media screen and (max-width: 576px) {
		.btn a {
			font-size: 14px;
			line-height: 14px;
		}
		.gallery {
			height: 179px;
			border-bottom: none;
			margin-bottom: 37px;
			&__btn {
				margin-bottom: 16px;
				max-width: 320px;
				padding: 0;
				a {
					height: 34px;
					padding: 9px;
					max-width: 320px;
				}
			}
		}
		.about-title__wrapper {
			order: -1;
		}
	}
}
