#index {

  .preview {
    height: calc(100vh - 71px);
    &__info {
      height: calc(100vh - 304px);
      display: flex;
      justify-content: space-between;
    }
    &__title {
      font-size: 140px;
			line-height: 143px;
      padding: 49px 0;
      text-align: right;
      padding-right: 10px;
    }
    &__sidebar {
      padding: 50px 40px;
      max-width: 187px;
      width: 30%;
      min-height: 241px;
      max-height: 443px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-right: 57px;
      margin-left: 36px;
      background-color: $white;
      &-item {
        margin-bottom: 3vh;
      }
    }
    &__image {
      width: 100%;
      max-height: 100%;
    }
		.burger {
			display: none;
		}
		@media screen and (max-width: 1300px) {
      &__title {
				font-size: 120px;
			}
    }
		@media screen and (max-width: 1115px) {
      &__title {
				font-size: 90px;
			}
    }
    @media screen and (max-width: 991px) {
      height: auto;
      &__title {
        font-size: 60px;
      }
      &__sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all linear 0.3s;
        transform: translateX(-100%);
        &-item {
          margin-bottom: 0;
        }
				&.active {
					transform: translateX(0%);
				}
      }
			.burger {
				display: flex;
			}
    }
    @media screen and (max-width: 576px) {
			&__sidebar {
				width: 100%;
			}
      &__title {
        font-size: 36px;
        line-height: 37px;
        padding: 24px 7px;
        background-color: $black;
        color: $white;
        text-align: center;
      }
    }
  }

  .about {
		border-bottom: 11px solid $black;
    &__inner {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
      position: relative;
    }
    &__img {
      max-width: 65vw;
      width: 100%;
      height: 538px;
      margin-right: 24px;
    }
    &__info {
      max-width: 551px;
      width: 100%;
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mobile-img {
      display: none;
    }
    &__title {
      position: relative;
    }
    &__title span {
      font-size: 96px;
      line-height: 98px;
      text-transform: uppercase;
      &:nth-child(2) {
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 46px;
      }
      &:nth-child(3) {
        position: absolute;
        left: 0;
        top: 92px;
      }
    }
    &__text {
      font-size: 32px;
      line-height: 33px;
    }
    &__nav-btn {
			display: flex;
			justify-content: flex-start;
			a {
				max-width: 446px;
				width: 100%;
				height: 64px;
				font-size: 40px;
				line-height: 41px;
				background-color: $black;
				color: $white;
				text-align: center;
				@include flex(center, center);
			}
    }
    &__nav-text {
      font-size: 40px;
      line-height: 41px;
			letter-spacing: 1px;
    }

    @media screen and (max-width: 1378px) {
      &__img {
        max-width: 50vw;
      }
    }

    @media screen and (max-width: 1200px) {
      &__title span {
        font-size: 56px;
        line-height: 98px;
        &:nth-child(2) {
          top: 32px;
        }
        &:nth-child(3) {
          top: 62px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      &__info {
        padding: 30px;
        max-width: 100%;
      }
      .desktop-img {
        display: none;
      }
      .mobile-img {
        display: block;
        max-width: 100%;
      }
      &__img {
        margin: 40px 0;
      }
      &__nav {
        text-align: center;
      }
			&__nav-btn {
				display: flex;
				justify-content: center;
			}
      &__text {
        margin-top: 70px;
      }
    }

    @media screen and (max-width: 576px) {
      &__inner {
        padding-bottom: 23px;
      }
      &__info {
        padding: 18px;
      }
      &__img {
        margin: 20px 0;
      }
      .mobile-img {
        height: 165px;
      }
      &__title {
        position: absolute;
        right: -45px;
        top: 89px;
        transform: rotate(90deg);
        span {
          font-size: 32px;
          line-height: 33px;
          &:nth-child(2) {
            top: 17px;
          }
          &:nth-child(3) {
            top: 33px;
          }
        }
      }
      &__text {
        padding-right: 100px;
        font-size: 16px;
        line-height: 16px;
        margin: 20px 0;
        min-height: 130px;
        display: flex;
        align-items: center;
      }
      &__nav-btn a{
        max-width: 100%;
        font-size: 13px;
        line-height: 13px;
        height: 29px;
      }
      &__nav-text {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 19px;
      }
    }
  }

  .events {
    padding: 60px 0 79px;
    &__title {
      font-size: 128px;
      line-height: 131px;
      margin-bottom: 51px;
      margin-left: 30px;
			position: relative;
			&::before {
				content: "";
				height: 4px;
				width: calc(100% + 30px);
				position: absolute;
				left: -30px;
				top: 57%;
				transform: translateY(-50%);
				background-color: $black;
			}
    }
    &__text {
      font-size: 36px;
      line-height: 37px;
      margin-bottom: 50px;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 53px;
      margin-bottom: 114px;
      justify-items: center;
    }
    &__item {
      max-width: 204px;
      width: 100%;
      height: 170px;
			position: relative;
      &-img {
        max-width: 204px;
        height: 132px;
        background-color: grey;
      }
      &-info {
        background-color: $black;
        font-size: 14px;
        line-height: 14px;
        color: $white;
        padding: 8px;
      }
    }
    &__btn {
      padding: 0;
    }

    @media screen and (max-width: 991px) {
      padding: 30px 0 49px;
      &__title {
        font-size: 108px;
        margin-bottom: 21px;
        margin-left: 0;
        text-align: center;
      }
      &__items {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 64px;
      }
    }

    @media screen and (max-width: 768px) {
      &__inner {
        display: flex;
        justify-content: space-between;
        height: 254px;
      }
      &__text {
        display: none;
      }
      &__items {
        margin-bottom: 0;
        display: block;
      }
      &__item:not(:first-child) {
        display: none;
      }
      &__item {
        height: 100%;
        display: flex;
        max-width: 357px;
      }
      &__item-img {
        height: 100%;
        max-width: 100%;
        order: 1;
      }
      &__item-info {
				position: absolute;
				left: 0;
				top: 0;
        width: 185px;
				height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
        line-height: 15px;
        padding: 14px 7px;
        text-transform: uppercase;
        background-color: rgba($black, .5);
      }
      &__btn {
        order: -1;
        margin-right: 12px;
        a {
          height: 100%;
          width: 208px;
          font-size: 26px;
          line-height: 26px;
          display: flex;
          align-items: flex-end;
          text-align: left;
        }
      }
    }

    @media screen and (max-width: 576px) {
			&__title {
				&::before {
					display: none;
				}
			}
      &__inner {
        height: 154px;
      }
      &__item {
        max-width: 225px;
      }
      &__item-info {
        width: 129px;
      }
      &__btn {
        order: -1;
        a {
          height: 100%;
          width: 108px;
          font-size: 16px;
          line-height: 16px;
          padding: 10px 10px 10px 14px;
        }
      }
      &__title {
        font-size: 40px;
        line-height: 41px;
        margin-bottom: 7px;
      }
      &__text {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .news {
    .mobile-title,
    .mobile-img {
      display: none;
    }
    &__inner {
      padding: 51px 48px;
    }
    &__article {
      margin-bottom: 117px;
      display: flex;
      justify-content: space-between;
      &-img {
        max-width: 651px;
        height: 375px;
      }
      &-info {
        max-width: 570px;
        margin-left: 63px;
      }
      &-title {
        font-size: 80px;
        line-height: 82px;
        margin-bottom: 37px;
      }
      &-text {
        font-size: 32px;
        line-height: 33px;
      }

      @media screen and (max-width: 1200px) {
        &-info {
          margin-left: 33px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .desktop-title,
      .desktop-img {
        display: none;
      }
      .mobile-title,
      .mobile-img {
        display: block;
      }
      .mobile-title {
        margin: 20px 0 9px;
        padding: 0 20px;
      }
      &__inner {
        padding: 51px 0;
      }
      &__article {
        flex-direction: column;
        margin-bottom: 67px;
        &-img {
          max-width: 100%;
        }
        &-info {
          max-width: 100%;
          margin-left: 0;
        }
      }
    }
    @media screen and (max-width: 576px) {
      &__inner {
        padding: 31px 0;
      }
      &__article {
        margin-bottom: 34px;
        &-title {
          font-size: 40px;
          line-height: 41px;
        }
        &-text {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }

  .projects {
    &__text {
      padding: 57px 168px 45px 0;
      position: relative;
      min-height: 182px;
      font-size: 32px;
      line-height: 33px;
      span {
        position: absolute;
        right: -46px;
        top: 40%;
        transform: rotate(90deg);
        .text-bold {
          font-family: "ObjectSans-Heavy", sans-serif;
        }
      }
    }
    &__image {
      height: 513px;
      margin-bottom: 59px;
    }
    &__btn {
      margin-bottom: 45px;
    }

    @media screen and (max-width: 576px) {
      &__text {
        font-size: 16px;
        line-height: 16px;
        padding: 47px 54px 45px 0;
				&-space {
					display: none;
				}
        span {
					right: -66px;
					top: 46%;
        }
      }
      &__image {
        height: 325px;
        margin-bottom: 12px;
        padding: 0 20px;
        background-color: transparent;
      }
      &__btn {
        margin-bottom: 32px;
				a {
					max-width: 330px;
					height: 35px;
				}
      }
    }
  }

  .gallery {
    margin-bottom: 104px;
    border-bottom: 11px solid $black;
    &__slider {
      margin: 61px auto 81px;
      height: 513px;
    }
		.slick-list, .slick-slide {
			height: 513px;
		}
		.slick-prev {
			left: 37px;
		}
		.slick-next {
			right: 37px;
		}
    &__btn {
      margin-bottom: 56px;
    }

    @media screen and (max-width: 576px) {
      border-bottom: none;
      margin-bottom: 0;
      &__slider {
        margin: 32px 0 32px;
        height: 325px;
        padding: 0 20px;
      }
			.slick-list, .slick-slide {
				height: 325px;
			}
      &__btn {
        margin-bottom: 39px;
      }
    }

  }
}
