.projects {
  .container {
    max-width: 1384px;
  }

  &__img {
    max-width: 100%;
    height: 430px;
  }
  &__text {
    font-size: 16px;
    line-height: 160%;
    margin: 75px 0;
  }
  &__item {
    height: 333px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &-preview {
      height: 100%;
      max-width: 608px;
      width: 100%;
      position: relative;
    }
    &-main {
      max-width: 702px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
    }
    &-img {
      height: 100%;
    }
    &-info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 39px 11px 11px;
      background-color: rgba($black, 0.5);
      color: $white;
      font-size: 32px;
      line-height: 108%;
    }
    &-text {
      margin-top: 20px;
    }
    &-btn {
      padding: 0;
    }
    &-btn a {
      max-width: 690px;
      font-size: 32px;
      line-height: 160%;
      height: 64px;
    }
  }

  @media screen and (max-width: 991px) {
    &__text {
      margin: 45px 0;
    }
    &__item {
      flex-direction: column;
      height: auto;
      &-preview {
        max-width: 100%;
        height: 350px;
      }
      &-main {
        max-width: 100%;
        padding-left: 0;
      }
      &-text {
        margin-top: 37px;
        margin-bottom: 32px;
      }
    }
  }

  @media screen and (max-width: 576px) {
		.container {
			padding: 0;
		}
    &__top {
      display: flex;
      flex-direction: column;
      padding-bottom: 32px;
      border-bottom: 5px solid $black;
      margin-bottom: 20px;
    }
    &__img {
      order: 1;
      height: 196px;
    }
    &__text {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 15px;
			padding: 0 20px;
    }
    &__item {
      &-preview {
        height: 138px;
      }
      &-info {
        top: 0;
        max-width: 129px;
        font-size: 15px;
        line-height: 15px;
        padding: 9px 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &-title {
        text-transform: uppercase;
        width: 109px;
      }
      &-text {
				padding: 0 20px;
        font-size: 13px;
        line-height: 160%;
      }
			&-btn a {
				font-size: 16px;
				line-height: 16px;
				max-width: 278px;
				height: 51px;
			}
    }
  }
}

@media screen and (max-width: 576px) {
  .page-title.projects-title {
    padding: 8px 0 27px;
  }
}
